[submodule "vim/pack/plugins/start/gruvbox"]
	path = vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
        ignore = untracked
[submodule "vim/pack/plugins/start/commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
        ignore = untracked
[submodule "vim/pack/plugins/start/YouCompleteMe"]
	path = vim/pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
        ignore = untracked
[submodule "vim/pack/plugins/start/YCM-Generator"]
	path = vim/pack/plugins/start/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
        ignore = untracked
[submodule "vim/pack/plugins/start/vim-altr"]
	path = vim/pack/plugins/start/vim-altr
	url = https://github.com/kana/vim-altr.git
        ignore = untracked
[submodule "vim/pack/plugins/start/vimwiki"]
	path = vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
        ignore = untracked
[submodule "vim/pack/plugins/start/vim-buftabline"]
	path = vim/pack/plugins/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule "vim/pack/plugins/start/vim-sleuth"]
	path = vim/pack/plugins/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
